body {
  background-image: linear-gradient(rgb(194, 187, 239) , rgb(93, 101, 167));
  font-family: sans-serif;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

h1 {
  font-size: xx-large;
  color: rgb(64, 32, 195);
  margin-left: 300px;
}
.search-products {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.product-style {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border-color: transparent;
}
/* #product-style2 {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border-color: transparent;
  }
  #product-style3 {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border-color: transparent;
  } */

#search-btn {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border-color: transparent;
  font-size: 20px;
  font-weight: 1000;
  background-color: antiquewhite;
  color: violet;
  transition: 0.3s;
}
#search-btn:hover {
  background-color: aliceblue;
  color: aqua;
}

#product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  
}

.post {
  background-color: rgb(129, 146, 230);
  border-radius: 10px;
  border-color: rgb(46, 36, 162);
  border-width: 10px;
  border-style: solid;
  padding: 20px;
  color:white;
  font-weight:bold
}
